APP_NAME=${projectName}
APP_ENV=local
APP_KEY=${applicationKey}
APP_DEBUG=true
APP_URL=https://${projectUri}

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgresql
DB_PORT=5432
DB_DATABASE=${databaseName}
DB_USERNAME=${databaseUsername}
DB_PASSWORD=${databasePassword}

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379

BROADCAST_DRIVER=log

CACHE_DRIVER=redis

QUEUE_CONNECTION=redis

SESSION_DRIVER=redis

MAIL_DRIVER=smtp
MAIL_SERVER=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
