APP_NAME=${projectName}
APP_ENV=local
APP_KEY=${applicationKey}
APP_DEBUG=true
APP_URL=https://${projectUri}

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgresql
DB_PORT=5432
DB_DATABASE=${databaseName}
DB_USERNAME=${databaseUsername}
DB_PASSWORD=${databasePassword}

REDIS_HOST=redis
REDIS_PORT=6379

BROADCAST_DRIVER=log

CACHE_DRIVER=redis

QUEUE_CONNECTION=redis

SESSION_DRIVER=redis

MAIL_DRIVER=${mailDriver}
MAIL_HOST=${mailHost}
MAIL_PORT=${mailPort}
MAIL_USERNAME=${mailUsername}
MAIL_PASSWORD=${mailPassword}
MAIL_ENCRYPTION=${mailEncryption}
